.productDetailContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    .imageWrap {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 50%;
            padding: 20px;
        }
    }
    
    .infoWrap {
        width: 50%;
        p{
            width: 80%;
            line-height: 30px;
        }
        button {
            font-size: 120%;
            width: 20%;
            padding: 10px;
            border: none;
            background-color: #fd798f;
            font-family: inherit;
            font-weight: 600;
            transition: .1s;
            border-radius: 5px;
            box-shadow:   0px 8px 2px #cf5065;            
          
        }
        button:active {
            transform: translateY(5px);
            box-shadow:   0px 3px 2px #a13648;            
        }
    }
}